<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from lms.djangoapps.courseware.courses import get_course_about_section
from django.conf import settings
from common.djangoapps.edxmako.shortcuts import marketing_link
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url
from django.utils.translation import get_language_bidi


%>
<%
  course_intro_html = theming.options('course_about', 'course_intro_html', default= False)
  course_intro = theming.options('course_about', 'course_intro', default= {})
  course_intro_image = theming.options('course_about', 'course_banner_url', default= False)

  course_text_html = theming.options('course_about', 'course_text_html', default= False)
  course_text = theming.options('course_about', 'course_text', default= {})
  course_text_below_html = theming.options('course_about', 'course_text_below_html', default= False)

  course_text_into_html = theming.options('course_about', 'course_text_into_html', default= False)
  course_text_into_bottom_html = theming.options('course_about', 'course_text_into_bottom_html', default= False)
  course_text_into_bottom = theming.options('course_about', 'course_text_into_bottom')

  course_text_bottom_html = theming.options('course_about', 'course_text_bottom_html', default= False)
  course_text_bottom = theming.options('course_about', 'course_text_bottom', default= {})

  course_about_new = theming.options('course_about', 'course_about_new', default= False)
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>

<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        // redirect unauthenticated user to the login page
        location.replace("${reverse('signin_user') | n, js_escaped_string}?next=" + encodeURIComponent("${request.path | n, js_escaped_string}"));
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

% if course_about_new:
<script type="text/javascript">
  // Add classes to style old course about when new is active
 $(window).load(function(){
  var container_info_about, container_social;

  container_info_about = $('.inner-wrapper');
  container_social = $('.social-sharing');

  if( container_info_about.has('.course-about-details').length == 0){
    container_social.addClass('col-lg-3');
    container_info_about.addClass('col-lg-9 course-details');
  }
})
</script>
% endif

<%block name="pagetitle">${course.display_name_with_default_escaped}</%block>

% if course_about_new:
  <section class="course-info-about pb-5">
    % if course_intro_html:
      ${course_intro_html}
    % else:
      %if course_intro:
        <header class="course-intro row d-md-flex justify-content-center align-items-center px-3 py-5 mx-0" style="background-image: url(${course_intro_image | h});">
          <div class="intro-center">
            <h1>${course_intro.get('title', '') | h}</h1>
            <p class="mb-0">${course_intro.get('paragraph', '') | h}</p>
          </div>
        </header>
      % endif
    % endif

    ## course_text
    % if course_text_html:
      ${course_text_html}
    % else:
      %if course_text:
        <div class="course-text row justify-content-center mb-4 mx-0 py-4">
          <div class="content-container text-center">
            <h2>${course_text.get('title', '') | h}</h2>
            <p class="mb-0">${course_text.get('paragraph', '') | h}</p>
          </div>
        </div>
      % endif
    % endif

    <header class="course-info__banner d-flex py-4">
      <div class="content-container d-md-flex align-items-center">
        % if get_course_about_section(request, course, "video"):
        <a href="#video-modal" class="media col col-12 col-md-3 pl-0 justify-content-sm-center justify-content-start" rel="leanModal">
          <div class="hero">
            <img class="img-fluid" src="${course_image_urls['large']}" alt="" />
            <div class="play-intro"></div>
          </div>
        </a>
        %else:
          <div class="media col col-12 col-md-3 pl-0 justify-content-sm-center justify-content-start">
            <img class="img-fluid" src="${course_image_urls['large']}" alt="" />
          </div>
        % endif

        <div class="col col-12 col-md-6 course-about-titles">
          <h1 class="course-title d-flex mb-2">
            ${course.display_name_with_default_escaped}
          </h1>
         ##  <div>${get_course_about_section(request, course, 'short_description')}</div>
        </div>

        <div class="main-cta ${'mr-2' if get_language_bidi() else 'ml-2'} col-md-3 text-center">
          %if user.is_authenticated and registered:
            %if show_courseware_link:
              <a class="btn" href="${course_target}">
            %endif

            <span class="register disabled">${_("You are enrolled in this course")}</span>

            %if show_courseware_link:
              <strong>${_("View Course")}</strong>
              </a>
            %endif

          % elif is_course_full:
            <span class="register disabled">
              ${_("Course is full")}
            </span>
          % elif invitation_only and not can_enroll:
            <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
            ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
            ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
            ## so that they can register and become a real user that can enroll.
          % elif not is_shib_course and not can_enroll:
            <span class="register disabled">${_("Enrollment is Closed")}</span>
          %elif allow_anonymous:
            %if show_courseware_link:
              <a href="${course_target}">
                <strong>${_("View Course")}</strong>
              </a>
            %endif
          %else:
            <%
              if ecommerce_checkout:
                reg_href = ecommerce_checkout_link
              else:
                reg_href="#"
              if single_paid_mode:
                href_class = "add-to-cart"
              else:
                href_class = "register"
            %>
            <a href="${reg_href}" class="btn ${href_class}">
              ${_("Enroll")}
            </a>
            <div id="register_error"></div>
          %endif
        </div>
      </div>
    </header>

    % if course_text_below_html:
      ${course_text_below_html}
    % endif

    <div class="course-info__content row container mt-5 p-4">

      <div class="details col col-12 ${'ml-0' if get_language_bidi() else 'mr-0'}">
        % if course_text_into_html:
          ${course_text_into_html | n, decode.utf8}
        % endif

        % if staff_access and studio_url is not None:
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
          </div>
        % endif

        <div class="inner-wrapper">
          ${get_course_about_section(request, course, "overview")}
        </div>

        % if static.get_value('course_about_show_social_links', True):
          <div class="social-sharing">
            <div class="sharing-message">${_("Share with friends and family!")}</div>
            ## TODO: this should probably be an overrideable block,
            ##       or something allowing themes to do whatever they
            ##       want here (and on this whole page, really).
              <%
                site_domain = static.get_value('site_domain', settings.SITE_NAME)
                platform_name = static.get_platform_name()

                ## Translators: This text will be automatically posted to the student's
                ## Twitter account. {url} should appear at the end of the text.
                tweet_text = _("I just enrolled in {number} {title} through {account}: {url}").format(
                    number=course.number,
                    title=course.display_name_with_default_escaped,
                    account=static.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
                    url=u"http://{domain}{path}".format(
                        domain=site_domain,
                        path=reverse('about_course', args=[str(course.id)])
                    )
                ).replace(u" ", u"+")
                tweet_action = u"http://twitter.com/intent/tweet?text={tweet_text}".format(tweet_text=tweet_text)

                facebook_link = static.get_value('course_about_facebook_link', settings.PLATFORM_FACEBOOK_ACCOUNT)

                email_subject = u"mailto:?subject={subject}&body={body}".format(
                    subject=_("Take a course with {platform} online").format(platform=platform_name),
                    body=_("I just enrolled in {number} {title} through {platform} {url}").format(
                        number=course.number,
                        title=course.display_name_with_default_escaped,
                        platform=platform_name,
                        url=u"http://{domain}{path}".format(
                            domain=site_domain,
                            path=reverse('about_course', args=[str(course.id)]),
                        )
                    )
                ).replace(u" ", u"%20")
              %>
              <a href="${tweet_action}" class="share">
                <span class="icon fa fa-twitter" aria-hidden="true"></span><span class="sr">${_("Tweet that you've enrolled in this course")}</span>
              </a>
              <a href="${facebook_link}" class="share">
                <span class="icon fa fa-thumbs-up" aria-hidden="true"></span><span class="sr">${_("Post a Facebook message to say you've enrolled in this course")}</span>
              </a>
              <a href="${email_subject}" class="share">
                <span class="icon fa fa-envelope" aria-hidden="true"></span><span class="sr">${_("Email someone to say you've enrolled in this course")}</span>
              </a>
          </div>
        % endif
      </div>

        % if course_text_into_bottom_html:
          ${course_text_into_bottom_html | n, decode.utf8}
        % endif
    </div>

    % if course_text_bottom_html:
      ${course_text_bottom_html}
    % else:
      %if course_text_bottom:
        <header class="course-text row d-md-flex justify-content-center align-items-center px-3 py-5 mx-0" style="background-image: url(${course_text_bottom.get('image', '') | h});">
          <div class="text-center">
            <h2>${course_text_bottom.get('title', '') | h}</h2>
            <p class="mb-0">${course_text_bottom.get('paragraph', '') | h}</p>
          </div>
        </header>
      % endif
    % endif

    ## Need to put this hidden form on the page so that the registration button works.
    ## Since it's no harm to display a hidden form, we display it with the most permissive conditional
    ## which is when the student is not registered.
    %if active_reg_button or is_shib_course:
      <div style="display: none;">
        <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
          <fieldset class="enroll_fieldset">
            <legend class="sr">${pgettext("self","Enroll")}</legend>
            <input name="course_id" type="hidden" value="${course.id}">
            <input name="enrollment_action" type="hidden" value="enroll">
          </fieldset>
          <div class="submit">
            <input name="submit" type="submit" value="${pgettext('self','enroll')}">
          </div>
        </form>
      </div>
    %endif

  </section>
% else:
  <section class="course-info pb-5">
    % if course_intro_html:
      ${course_intro_html}
    % else:
      %if course_intro:
        <header class="course-intro row d-md-flex justify-content-center align-items-center px-3 py-5 mx-0" style="background-image: url(${course_intro_image | h});">
          <div class="intro-center">
            <h1>${course_intro.get('title', '') | h}</h1>
            <p class="mb-0">${course_intro.get('paragraph', '') | h}</p>
          </div>
        </header>
      % endif
    % endif

    ## course_text
    % if course_text_html:
      ${course_text_html}
    % else:
      %if course_text:
        <div class="course-text row justify-content-center mb-4 mx-0 py-4">
          <div class="content-container text-center">
            <h2>${course_text.get('title', '') | h}</h2>
            <p class="mb-0">${course_text.get('paragraph', '') | h}</p>
          </div>
        </div>
      % endif
    % endif

    <header class="course-info__banner d-flex py-4">
      <div class="content-container d-md-flex align-items-center">
        % if get_course_about_section(request, course, "video"):
        <a href="#video-modal" class="media col col-12 col-md-2 pl-0 justify-content-sm-center justify-content-start" rel="leanModal">
          <div class="hero">
            <img class="img-fluid" src="${course_image_urls['large']}" alt="" />
            <div class="play-intro"></div>
          </div>
        </a>
        %else:
        <div class="media col col-12 col-md-2 pl-0 justify-content-sm-center justify-content-start">
            <img class="img-fluid" src="${course_image_urls['large']}" alt="" />
        </div>
        % endif

        <div class="col col-12 col-md-10">
          <h1 class="course-title d-flex mb-2">
            ${course.display_name_with_default_escaped}

            <div class="main-cta ${'mr-2' if get_language_bidi() else 'ml-2'} text-center">
              %if user.is_authenticated and registered:
                %if show_courseware_link:
                  <a class="btn" href="${course_target}">
                %endif

                <span class="register disabled">${_("You are enrolled in this course")}</span>

                %if show_courseware_link:
                  <strong>${_("View Course")}</strong>
                  </a>
                %endif

              % elif is_course_full:
                <span class="register disabled">
                  ${_("Course is full")}
                </span>
              % elif invitation_only and not can_enroll:
                <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
                ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
                ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
                ## so that they can register and become a real user that can enroll.
              % elif not is_shib_course and not can_enroll:
                <span class="register disabled">${_("Enrollment is Closed")}</span>
              %elif allow_anonymous:
                %if show_courseware_link:
                <a href="${course_target}">
                  <strong>${_("View Course")}</strong>
                </a>
                %endif
              %else:
                <%
                  if ecommerce_checkout:
                    reg_href = ecommerce_checkout_link
                  else:
                    reg_href="#"
                  if single_paid_mode:
                    href_class = "add-to-cart"
                  else:
                    href_class = "register"
                %>
              <a href="${reg_href}" class="btn ${href_class}">
                ${_("Enroll")}
              </a>
              <div id="register_error"></div>
              %endif
            </div>
          </h1>
          ## <div>${get_course_about_section(request, course, 'short_description')}</div>
        </div>
      </div>
    </header>

    % if course_text_below_html:
      ${course_text_below_html}
    % endif

    <div class="course-info__content row container mt-5 p-4">
      <div class="col col-12 d-lg-none course-sidebar mobile mb-5">
        <%include file="./course_about_sidebar.html" />
      </div>

      <div class="details col col-12 col-lg-9 ${'ml-0' if get_language_bidi() else 'mr-0'}">
        % if course_text_into_html:
          ${course_text_into_html | n, decode.utf8}
        % endif

        % if staff_access and studio_url is not None:
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
          </div>
        % endif

        <div class="inner-wrapper">
          ${get_course_about_section(request, course, "overview")}
        </div>

        % if course_text_into_bottom_html:
          ${course_text_into_bottom_html | n, decode.utf8}
        % endif
      </div>

      <div class="course-sidebar col col-12 col-lg-3 d-none d-lg-block">
        <%include file="./course_about_sidebar.html" />
      </div>
    </div>

    % if course_text_bottom_html:
      ${course_text_bottom_html}
    % else:
      %if course_text_bottom:
        <header class="course-text row d-md-flex justify-content-center align-items-center px-3 py-5 mx-0" style="background-image: url(${course_text_bottom.get('image', '') | h});">
          <div class="text-center">
            <h2>${course_text_bottom.get('title', '') | h}</h2>
            <p class="mb-0">${course_text_bottom.get('paragraph', '') | h}</p>
          </div>
        </header>
      % endif
    % endif

    ## Need to put this hidden form on the page so that the registration button works.
    ## Since it's no harm to display a hidden form, we display it with the most permissive conditional
    ## which is when the student is not registered.
    %if active_reg_button or is_shib_course:
      <div style="display: none;">
        <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
          <fieldset class="enroll_fieldset">
            <legend class="sr">${pgettext("self","Enroll")}</legend>
            <input name="course_id" type="hidden" value="${course.id}">
            <input name="enrollment_action" type="hidden" value="enroll">
          </fieldset>
          <div class="submit">
            <input name="submit" type="submit" value="${pgettext('self','enroll')}">
          </div>
        </form>
      </div>
    %endif

  </section>
% endif

<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
